include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/datastore_alfresco *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/datastore_alfresco/migration *.ini *.py *.mako
